<div class="grid-container">
  {{#if series.length}}
  {{#each series}}
  <a href="/individual_series/{{id}}">
    <div class="grid-item">
      <img class="series-image" src='/assets{{poster_path}}' alt="{{name}} poster not found">
      <h1>{{name}}</h1>
      {{#if vote_average}}
      <h3 class="series-rating">Rating:{{vote_average}}</h3>
      {{else}}
      <h3 class="series-rating">Rating: Not availabe</h3>
      {{/if}}
    </div>
  </a>
  {{/each}}
  
  {{else}}
  <h3>No series found with your search</h3>
  {{/if}}
</div>
<a href="/"><button>Back</button></a>